@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Crimson Text";
    src: url("/fonts/Crimson_Text/CrimsonText-Regular.ttf");
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    margin: 0% 20%;
  }


#header {
    width: 100%;
    }

#intro {
    font-size: 120%;
}

#quote {
    position: relative;
    width: 50%;
    margin: 20px 30px 20px -50px;
    border: 3px;
    font-family: calibri;
    font-size: 25px;
    font-weight: bold;
    float: left;
}
    
body {
    font-family: Crimson Text;
    text-align: left;
    }

h1 {
    font-size: 600%;
    font-weight: 600;
    font-family: 'Montserrat';
    text-align: center;
    margin-block-end: 0.30em;
}

h2 {
    font-family: Crimson Text;
    text-align: left;
    font-size: 200%;
    font-weight: normal;
}

h3 {
    font-family: Montserrat;
    margin-bottom: 5px;
    margin-top: 25px;
   }



.publish {
    color:lightgrey;
    text-align: left;
     }

.footnote {
    font-size: 70%;
}

.illustrator {
    background-color: #f2f2f2;
    height: 200px;
    margin: 50px 0px;
    display: flex;
    flex-shrink: 0.50;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap; 
  }

.wrapper {
    margin: auto;
    flex-grow: 0.5;
    padding-left: 75px;
      
}

.image-cropper {
    width: 120px;
    height: 120px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    }

.name {
    height: 100px;
    padding-left: 20px; 
    flex-basis: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

@media (max-width: 480px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-family: Crimson Text;
        text-align: left;
        font-size: 150%;
        font-weight: normal;
    }

    .name {
        height: 130px;
        padding-left: 20px;
        flex-basis: 50%;
    }

    #quote {
        border: 3px;
        font-family: calibri;
        font-size: 25px;
        font-weight: bold;
        width: 100%;
        margin: -5px 0px 5px 0px;
    }
}