/* Load in external resources */
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Crimson Text";
    src: url("/fonts/Crimson_Text/CrimsonText-Regular.ttf");
}
/* -------------------- */


/* Base styling */
/* Order large to small: elements > classes > id */
/* Text shoudl always be a stable size in px, em or rem (NO %) */
/* Standard styling that should always look okay, so no text-align:center. padding/margin is okay */
/* -------------------- */

body {
    font-family: Crimson Text;
}

h1 {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Montserrat';
    margin: 0 0 20px 0;
}

h2 {
    font-family: Crimson Text;
    font-size: 36px;
    font-weight: normal;
    margin: 0 0 20px 0;
}

h3 {
    font-family: Montserrat;
    margin: 0 0 20px 0;
}

img {
    margin: 0 auto;
    width: 100%;
}

p {
    margin: 0 0 20px 0;
 }

.wrapper {
    margin: 30px 0;
}

.wrapper.wrapper--no-space-top {
    margin-top: 0;
}

.wrapper.wrapper--no-space-bottom {
    margin-bottom: 0;
}

.wrapper.wrapper--grey {
    background-color: #f2f2f2;
}

.container {
    width: auto;
    margin: 0 40px;      
}


/* Blocks, Elements, Modifiers */
/* -------------------- */
.container__float-left {
    width: 100%;
    float: none;
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}


.card--horizontal {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.card__text h3 {
    margin: 0;
}

.card__text p {
    margin: 0;
}

.card__image {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    }

.card__text {
    /* height: 100px; */
    padding-left: 20px; 
}

.carousel {
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    box-shadow: 0 0 15px lightgrey;
    display: flex;
    flex-wrap: wrap;
}

.carousel > .carousel__item:first-child  {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.carousel > .carousel__item:first-child p {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.carousel__item {
    width: 30%;
    cursor: pointer;
}
.carousel__item p {
    display: none;
}

#header {
    width: 100%;
    text-align: center;
}

.footnote {
    font-size: 12px;
}

.tooltip {
    position: relative;
    display: inline-block;
    }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #fff;
    color: black;
    text-align: center;
    border-radius: 7px;
    box-shadow: 0 0 15px lightgrey;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

/* Media Queries */
@media (min-width: 736px) {
    h1 {
        font-size: 90px;
    }

    .container {
        width: 700px; 
        margin: 0 auto;
    }

    .container__float-left {
        width: 50%;
        margin: 20px 30px 20px -50px;
        float: left;
    } 
    .carousel {
        flex-direction: column;
        height: 500px;
    }
    .carousel > .carousel__item:first-child {
        width: 63%;
        height: 100%;
        margin-bottom: 0;
    }

    .carousel__item {
        width: 20%;
    }
}
/* -------------------- */
